<!-- contact.ejs (p. 180) -->
<!-- @TODO: layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- @TODO: -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aaron's Node Site | Thanks</title>
    <!-- @TODO: title태그를 완성하십시오 -->

    <meta name="author" content="Aaron" />
    <!-- @TODO: 자기 이름을 작성하십시오 -->

    <!-- @TODO: CSS 파일에 대한 link테그를 완성하십시오 -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Compiled: https://codepen.io/fionnachan/pen/EvaqOB -->
    <link rel="stylesheet" href="css/confetti.css" />
    <link
      rel="stylesheet"
      media="(max-width: 768px)"
      href="css/style.small.css"
    />

    <!-- @TODO: -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- @TODO: JS 파일에 대한 script테그를 완성하십시오 -->
    <script defer src="js/functions.js"></script>
  </head>
  <body>
    <!-- @TODO: partials/header.ejs -->
    <!-- @TODO: 로고가 있는 헤더와 4개 이상의 항목이 포함된 탐색 메뉴를 생성하십시오 -->
    <header class="header">
      <div class="container">
        <div class="container-left">
          <figure class="logo">
            <a href="/">
              <h1 class="site-title">🍔 Aaron's Node Site</h1>
            </a>
          </figure>
          
          <!-- @TODO: partials/navigation.ejs -->
          <nav class="menu">
            <a class="menu-item" href="/courses">Courses</a>
            <a class="menu-item" href="/contact">Contact</a>
          </nav>
          <!-- @TODO: 반응형 메뉴 버튼을 생성하십시오 -->
          <!-- 이것은 나중에 JavaScript에서 사용될 것이다 -->
          <div id="menu-button">Menu</div>

        </div>
      </div>
    </header>

<!-- @TODO: index.ejs -->
<main class="text-center cover-container">
  <div id="index" class="cover-content h-100 w-100 text-white">
    <div class="cover-box-2">
      <h1 class="page-title">Welcome to Aaron's Node Site!</h1>
      <p class="page-description lead">
        This is a simple site built with Node.js and Express.
      </p>
    </div>
  </div>
</main>

    <!-- @TODO: partials/footer.ejs -->
    <footer class="text-center fixed-bottom bg-dark text-bg-dark pt-3">
      <p>&copy; 2023 Aaron Snowberger</p>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>

  <!--
    [노트] 레이아웃 파일은 방문하는 모든 페이지상에서 렌더링된다.
    한 번 < %- body % >의 전후로 HTML 콘텐츠를 추가해보라. 
    모든 페이지에 추가 내용이 반영될 것이다.
-->
</html>


